In [123]:
%matplotlib inline

import xlwt
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [99]:
Onboarding_data = pd.read_csv('Onboarding Tasks by User - anonymized.csv')

In [100]:
Onboarding_data.head()

,End User Guid,Task ID,Task Name,Task Completion Date
0,springer@company1.com,10262,How is Actual Rent calculated?,10/7/15 21:53
1,vendorhelp@company2.com,10260,Where does Rentlytics' data come from?,10/8/15 0:30
2,ramsey@company2.com,9021,How to Navigate Rentlytics,10/8/15 0:32
3,thompson@company2.com,10260,Where does Rentlytics' data come from?,10/8/15 0:37
4,mitts@company2.com,10262,How is Actual Rent calculated?,10/8/15 0:38

In [108]:
from xlsxwriter.utility import xl_rowcol_to_cell
User_data = pd.read_excel("User _ Company List - anonymized.xlsx")

In [117]:
User_data.columns = [ 'Organization Name','First Name','Last Name','End User Guid']
User_data.head()

   Organization Name  First Name  Last Name          End User Guid
0     Version: 1.0.0         NaN        NaN                    NaN
1  As Of: 2015-10-16         NaN        NaN                    NaN
2  organization_name  first_name  last_name                  email
3           Company1     Richard   Springer  springer@company1.com
4           Company2      Teresa      Epoch     epoch@company2.com

In [110]:
all_data = pd.merge(User_data, Onboarding_data, on='End User Guid', how='left')

In [111]:
pivot_data = pd.pivot_table(all_data,index=["Organization Name","End User Guid"],values=["Task ID"],aggfunc= 'count')

In [112]:
new_data = pivot_data['Task ID'] / 11 * 100
pivot_data['Percent Completed'] = new_data

In [120]:
pivot_data.head()

                                              Task ID  Percent Completed
Organization Name End User Guid
Company1          springer@company1.com             2          18.181818
Company10         grandstaff@company10.com          0           0.000000
                  johnson@company10.com             0           0.000000
                  mattson demo@company10.com        0           0.000000
                  somogyi@company10.com             0           0.000000

In [126]:
pivot_data_filtered = pivot_data.ix[pivot_data['Task ID'] >= 1]
pivot_data_filtered.head()

                                          Task ID  Percent Completed
Organization Name End User Guid
Company1          springer@company1.com         2          18.181818
Company11         teufel@company11.com          6          54.545455
Company17         sanchez@company17.com         5          45.454545
Company2          ferrer@company2.com           2          18.181818
                  giambanco@company2.com        2          18.181818

In [127]:
writer = pd.ExcelWriter('Training Completion Report.xlsx', engine='xlsxwriter')
pivot_data.to_excel(writer, sheet_name='Summary')
writer.save()
writer = pd.ExcelWriter('Training Completion Report for Started Training.xlsx', engine='xlsxwriter')
pivot_data_filtered.to_excel(writer, sheet_name='Summary')
writer.save()